.glow{
    font-size: 20px;
 }

  .boxDescription{
    /* background: linear-gradient(rgb(13 110 253 / 0%), rgb(182 161 229 / 26%)), center no-repeat; */
    color:rgb(99, 99, 99);
    image-resolution: 100%;
    border-radius: 10px;
    outline: none;
  }
  
  .boxDetail{
   padding:5px;
   margin:15px;
   background-color: rgb(255, 255, 255);
   display: flex;
   border: 1px solid rgb(172, 172, 172);
   border-radius: 14px;
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 350px;
   box-shadow: 5px 7px #878787
  }
  
.h6{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:rgb(107, 107, 107);
   text-decoration:none;
}

.contain{
   display: flex;
   flex-direction: column;
   align-items: center;
   border:10px;
   width: 60%;
   height: 100%;
}

 .body{
   background-color: rgb(186, 216, 125);
  /* display: absolute; */
} 

img {
   border-radius: 7px;
 }
